body{
  background-color: grey
}
div {
  width: 1000px;
  border: 15px solid green;
  padding: 50px;
  margin: 200px;
}
#header{
	font-weight:bold;
  }
.greentext{
  color:green;
  font-style: italic;
}
h1{
  position: absolute;
  left: 50px;
  top: 30px;
}
h2{
  position:fixed;
  right: 50px;
  top: 30px;

}
h3{
  position:relative;
  left: 50px;
  top: 30px;
}
p{
  text-transform: uppercase;
  font-family: "Arial"Helvetica,serif;
  font-size:100px;
}

img{
   border:10px solid black;

}
#wrapper{
	background-color:red;
}

div p.para{
	background-color:blue;
}

div p{
	background-color:purple
}

  div p.p5{
      background-color:yellow;
    }
