

body {
  background-color:red;
  font-family: 'Quicksand', sans-serif;
  border: 10px solid;
}

header h1 {
  text-align: center;
  font-weight: normal;
  margin-top: 50px;
}

main {
  width: 50%;
  margin: 0 auto;
}

.highlight {
	background-color: #FBC300;
}
div {
  margin-top: 15px;
}

.image-section {
  display: flex;
  justify-content: center;
}

.section-style {
  margin-right: 25px;
  margin-left: 25px;
  background-color: white;
}

p {
  border: 10px solid;
  background-color:white;
  padding: 30px;
  text-align: center;
}
